@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
}

h1 {
  text-align: center;
  /* color: #383838; */
  color: black;
}

.formFakeUser {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

hr {
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  width: 80%;
}

.allFakeUsers {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.fakeuser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  padding: 15px;
  background-color: #fafafa;
}

.dados {
  display: flex;
  flex-direction: column;
}

.dados p {
  margin: 0;
}

img {
  border-radius: 50%;
}

button {
  background-color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: #383838;
  cursor: pointer;
}
